.pagination {

  @include media-query(mobile) {

    padding-right: 20px;
    padding-left: 20px;

  }

  margin-top: 20px;

  &-flex {

    @include media-query(mobile) {

      flex-direction: column;

    }

    display: flex;
    justify-content: space-between;
  }

  &-pages {

    display: flex;
    align-items: center;

  }

  &-nav {

    border-radius: 4px;
    padding: 4px 10px;
    background: transparentize(color(primary) , 0.9);
    list-style: none;

    &:first-child {

      margin-right: 20px;

    }

    &:last-child {

      margin-left: 20px;

    }

    i.inactive {

      color: color(tertiary-text);

    }

  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

    li {

      margin: 5px;
      border-radius: 100%;
      padding: 11px 15px;
      background: #1c1834;
      cursor: pointer;
      color: color(white);

      &.active {
        background: #1ada;
        color: #47cf8a;
      }
    }
  }

  .select-pop {
    top: 10px;
    width: unset;
  }

}
